// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Phonic from "../../../index.js";

export declare namespace ConversationItemsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ConversationItemsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ConversationItemsClient.Options>;

    constructor(options: ConversationItemsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the alternative response(s) the assistant would have
     * produced for this conversation turn given changes to the agent system prompt.
     *
     * Only assistant items from ended conversations can be replayed. The
     * conversation must have an associated agent.
     *
     * @param {string} id - The ID of the conversation item to replay.
     * @param {Phonic.ReplayConversationItemRequest} request
     * @param {ConversationItemsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Phonic.BadRequestError}
     * @throws {@link Phonic.UnauthorizedError}
     * @throws {@link Phonic.ForbiddenError}
     * @throws {@link Phonic.NotFoundError}
     * @throws {@link Phonic.ConflictError}
     * @throws {@link Phonic.UnprocessableEntityError}
     * @throws {@link Phonic.InternalServerError}
     *
     * @example
     *     await client.conversationItems.replay("id", {
     *         system_prompt: "system_prompt"
     *     })
     */
    public replay(
        id: string,
        request: Phonic.ReplayConversationItemRequest,
        requestOptions?: ConversationItemsClient.RequestOptions,
    ): core.HttpResponsePromise<Phonic.ReplayConversationItemResponse> {
        return core.HttpResponsePromise.fromPromise(this.__replay(id, request, requestOptions));
    }

    private async __replay(
        id: string,
        request: Phonic.ReplayConversationItemRequest,
        requestOptions?: ConversationItemsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Phonic.ReplayConversationItemResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PhonicEnvironment.Default)
                        .base,
                `conversation_items/${core.url.encodePathParam(id)}/replay`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Phonic.ReplayConversationItemResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Phonic.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Phonic.UnauthorizedError(
                        _response.error.body as Phonic.BasicError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Phonic.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Phonic.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Phonic.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Phonic.UnprocessableEntityError(
                        _response.error.body as Phonic.BasicError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Phonic.InternalServerError(
                        _response.error.body as Phonic.BasicError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PhonicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/conversation_items/{id}/replay",
        );
    }
}
